{% extends "homeapp/base.html" %} {% block content%}

<body>
  <section>
    <div class="container py-3">
      <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h3 class="display-4 fw-normal">Weather Information</h3>
          <div class="input-group mx-auto text-center">
            <form class="d-flex" method="POST">
              {% csrf_token %} {{ form.name }}
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                Search
              </button>
              {% if message %}
              <div class="{{message_class}}">{{ message }}</div>
              {% endif %}
            </form>
          </div>
          <br>
          <p class="fs-5 text-muted">
            Openweathermap API를 활용하여 도시별 날씨를 조회할 수 있습니다. <br>
            Openweathermap API에서 제공하는 위도,경도 정보와 TimezoneFinder 및 pytz 라이브러리를 활용하여 각 도시별 현지 날짜와 시간 정보를 확인할 수 있습니다.
          </p>
        </div>
      </header>
  
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          {% for city_weather in weather_data %}
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">{{city_weather.city}}</h3>
              </div>
              <div class="card-body">
                <img
                  src="http://openweathermap.org/img/w/{{city_weather.icon}}.png"
                  alt="Image"
                  style="width: 70px;"
                />
                <br />
                <h4>
                  <span>Forecast:</span>
                  {{city_weather.main}}
                </h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>
                    <h5>
                      <span>Temperature:</span>
                      {{city_weather.temp}} ℃
                    </h5>
                  </li>
                  <li>
                    <h5>
                      <span>Description:</span>
                      {{city_weather.description}}
                    </h5>
                  </li>
                  <li>
                    <h5>
                      <span>Local Time:</span>
                      {{city_weather.localtime}}
                    </h5>
                  </li>
                </ul>
                <a href="{% url 'delete_city' city_weather.city %}">
                <button type="button" class="w-50 btn btn-lg btn-outline-primary">
                  Delete
                </button>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </section>
  
</body>

{% endblock %}
