{% extends "homeapp/base.html" %}{% load static %}{% block content%}
<link href="{% static 'css/styles_dart.css' %}" rel="stylesheet" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
<!-- Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Covid 발생 현황</h1>
                </div>
            </div>
        </div>    
    </div>
</header>
<div class="container py-3">
    <main>
        <section class="page-section">
            {{ chart|safe }}
        </section>
    </main>
</div>


{% endblock %}
