<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>My Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap cdn -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/journal/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css"> -->
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
  <script src="https://unpkg.com/typeit@8.3.3/dist/index.umd.js"></script>
  <link href="{% static 'css/scrollout.css' %}" rel="stylesheet" />

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'post_list' %}">K Style Blog</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="/home/">Home</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="{% url 'post_list' %}">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}
  <!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; 2022 My Blog </p>
  </footer>
</body>

</html>